header {
  background: white;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #CCCCCC }

header .logo {
  position: relative;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  left: 15px;
  height: 100% }
